.japan{
    width: 600px;
    height: 300px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
margin-left:350px ;
position: relative;
border: 1px solid black;
}
.circle{
    background-color: darkred;
    border-radius: 100%;
    width: 200px;
    height: 200px;
  position: absolute;
  
  bottom: 00px;
  top: 00px;
  left: 0px;
  right:00px;
  margin: auto;
}
h1{
  text-align: center;
}
img{
  width: 200px;
  height: 230px;
margin-left: 550px;
margin-top: 300px;
}